@import "tailwindcss";
@import 'primeicons/primeicons.css';

@theme {
  --font-sans: "Plus Jakarta Sans", sans-serif; 
  --font-poppins: "Poppins", sans-serif; 
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

